.header {
	padding-top: 24px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ececec;
	> .container {
		display: flex;
		align-items: center;
	}
}

.navigation {
	display: flex;
	align-items: center;
}

.navigation__logo {
	margin-right: 93px;
}

.logo--color-dark {
	color: #000000;
}

.navigation__list {
	display: flex;
}

.navigation__item:not(:last-child) {
	margin-right: 50px;
}

.navigation__link {
	padding: 32px 0;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	transition: color var(--duration-ms) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.current {
	position: relative;

	color: var(--accent-color);

	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 4px;

		left: 0;
		bottom: -1px;
		display: block;
		border-radius: 2px;

		background-color: var(--accent-color);
	}
}

.connection {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.connection__item:not(:last-child) {
	margin-right: 50px;
}

.connection__link {
	display: flex;
	align-items: center;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--text-color);

	transition: color var(--duration-ms) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.connection__icon {
	margin-right: 10px;

	fill: #757575;

	transition: fill var(--duration-ms) var(--timing-function);

	.connection__link:hover &,
	.connection__link:focus & {
		fill: #2196f3;
	}
}
